<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Animal</title>
</head>
<body>
<h2>Update Animal</h2>
<form th:action="@{/animals/edit/{id}(id=${animal.animalId})}" th:object="${animal}" method="post">
    <input type="hidden" th:field="*{animalId}">

    <label for="type">Type:</label>
    <input type="text" id="type" th:field="*{type}" required>

    <label for="colour">Colour:</label>
    <input type="text" id="colour" th:field="*{colour}" required>


    <label for="zoo">Zoo:</label>
    <select id="zoo" th:field="*{zoo}">
        <option th:each="z : ${zoos}" th:value="${z.zooId}" th:text="${z.zooName}"></option>
    </select>



    <button type="submit">Update</button>
</form>
</body>
</html>