<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoo Details</title>
</head>
<body>
<h2>Zoo Details</h2>
<dl>
    <dt>ID:</dt>
    <dd th:text="${zoo.zooId}"></dd>

    <dt>Name:</dt>
    <dd th:text="${zoo.zooName}"></dd>

    <dt>Location:</dt>
    <dd th:text="${zoo.location}"></dd>

</dl>
</body>
</html>